@import '@styles/variables.scss';
@import 'foundation-sites/scss/foundation.scss';

.widgetText {
    width: 100%;
    display: flex;
    width: 35rem;
    margin-inline: auto;
    justify-content: center;
    // border: 1px solid red;
    
    .container {
        text-align: center;

        
        :not(:first-child) {
            margin-top: 0.5rem;
        }
    }

    h2 {
        text-transform: uppercase;
        // margin: 0;
        font-size: $h1FontSize;
        font-weight: 800;
        white-space: pre;
    }
    
    h3 {
        text-transform: uppercase;
        font-size: $h2FontSize;
        font-weight: 300;
        white-space: pre;
    }
    
    p {
        font-weight: 350;
        color: $grey;
        margin: 0; //Remove the margin set to .containers children
        margin-top: map-get($margins, 2);
    }

    a {
        margin: 0; //Remove the margin set to .containers children
        margin-top: 1.5rem;
    }


    @include breakpoint(small only) {
        max-width: calc(100vw - (map-get($margins, 2) * 1));

        h2 {
            font-size: $h1SmallFontSize;
            white-space: normal;
        }
        h3 {
            font-size: $h2SmallFontSize;
            white-space: normal;
        }

        p {
            font-size: $bodySmallFontSize;
            margin-top: map-get($margins, 1);
        }
    }

    //Whats this for? Can it be deleted?
    // &.hasBackground {
    //     border-radius: 1.25rem;
    //     padding: 2rem;
    // }

    // &.layoutCentered {
    //     .text {
    //         text-align: center;
    //         max-width: 950px;
    //         margin: 0 auto;
    //     }
    // }

    // @include breakpoint(large) {
    //     &.hasBackground {
    //         padding: 6rem 10rem;
    //     }
    // }
}