@import 'foundation-sites/scss/util/_unit.scss';

@font-face {
  font-family: 'Gotham';
  src: url("../content/fonts/GothamThin.otf") format("truetype");
  font-weight: 100;
  font-style: thin;
}

@font-face {
  font-family: 'Gotham';
  src: url("../content/fonts/GothamLight.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'Gotham';
  src: url("../content/fonts/GothamBook.ttf") format("truetype");
  font-weight: 350;
  font-style: book;
}

//This isn't the correct font weight

// @font-face {
//   font-family: 'Gotham';
//   src: url("../content/fonts/GothamRegular.otf") format("truetype");
//   font-weight: 400;
//   font-style: regular;
// }

@font-face {
  font-family: 'Gotham';
  src: url("../content/fonts/GothamMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'Gotham';
  src: url("../content/fonts/GothamBold.otf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Gotham';
  src: url("../content/fonts/GothamBlack.otf") format("truetype");
  font-weight: 800;
  font-style: black;
}

/*---- FOUNDATION ----*/
$global-width: rem-calc(1350);
$grid-margin-gutters: (
  "small": 20px,
  "medium": 30px
);
$header-font-family: inherit;

/*---- COLORS ----*/
$white: #FFFFFF;
$offWhite: #F3F8FB;
$redLight: #f97a7a;
$red: #B2334E;
$black: #000000;
$blueLight: #59B7DF;
$blueLighter: #ADE0ED;
$blueLightest: #EFF9FE;
$blueLight2: #DEF5FF;
$blueVibrant: #0098CE;
$blueFaded: #8A92AA;
$blue: #152456;
$blueDark: #002E60;
$purpleLight: #AF97D9;
$purple: #932789;
$purpleDark: #482782;
$greyLightest: #DFE1DF;
$greyLighter: #CCC;
$greyLight: #A1A1A4;
// $grey: #8E9089;
$grey: #6E7981;
$greyDark: #4E5259;
$greyDarkest: #222;
$greyBlue: #7f7aa3;
// $greenLight: #ACD468;
$greenLight: #85d0cc;
$greenLightest: #EDF3D9;
$green: #A6CE39;
$orange: #ff9f1c;
$orangeDark: #cc7f16;
$textColor: $blue;
$darkTextColor: $white;
$blueBackgroundTextColor: $darkTextColor;
$backdropColor: $black;
//Additional colors
$greenTextColor: #007481;
$brown: #E9E3DC;

/*---- FONTS ----*/
$barlowFont: 'Barlow', sans-serif;
$nocturneFont: 'nocturne-serif', serif;
$floodFont: 'flood-std', sans-serif;
$sofiaFont: 'sophia-pro', sans-serif;
$museoSansFont: 'museo-sans', sans-serif;
$defaultFont: $museoSansFont;
$iconFont: 'jhp';
$gothamFont: 'Gotham', $defaultFont, sans-serif;

/*---- FONT SIZES ----*/
$h1FontSize: 3.55rem;
$h2FontSize: 2.5rem;
$h3FontSize: 2.2rem;
$h4FontSize: 1.8rem;
$h5FontSize: 1.5rem;
$h6FontSize: 1.125rem;
$bodyFontSize: 0.9rem;
$eyebrowFontSize: 0.75rem;

$h1SmallFontSize: 2rem;
$h2SmallFontSize: 1.5rem;
$h3SmallFontSize: 1.2rem;
$h4SmallFontSize: 1.1rem;
$h5SmallFontSize: 1rem;
$h6SmallFontSize: 0.9rem;
$bodySmallFontSize: 0.9rem;
$eyebrowSmallFontSize: 0.75rem;

/*---- LINK ----*/
$linkColor: $blue;
$linkHoverColor: $purple;
$darkLinkColor: $white;
$darkLinkHoverColor: $greenLight;
$blueBackgroundLinkColor: $darkLinkColor;
// $blueBackgroundLinkHoverColor: $blueLight;
$blueBackgroundLinkHoverColor: $darkLinkHoverColor;

/*---- BUTTON ----*/
$buttonColor: $blue;
$buttonHoverColor: $blue;
$buttonBackgroundColor: $white;
$buttonBackgroundHoverColor: $greenLight;
$outlineButtonColor: $blue;
$outlineButtonHoverColor: $blue;
$outlineButtonBackgroundColor: $white;
$outlineButtonBackgroundHoverColor: $greenLight;
$arrowButtonColor: $blue;
$arrowButtonHoverColor: $blue;
$arrowButtonBackgroundColor: $blueLightest;
$arrowButtonBackgroundHoverColor: $greenLight;
$videoButtonColor: $blue;
$videoButtonHoverColor: $white;
$videoButtonBackgroundColor: transparent;
$videoButtonBackgroundHoverColor: $purple;

/*---- SPACING ----*/
$margins: (1: 1rem, 2: 2.5rem, 3: 7rem, 4: 10rem);
$paddings: (1: 1rem, 2: 2.5rem, 3: 7rem, 4: 10rem);
$mobileHeaderHeight: rem-calc(65);
// $desktopHeaderHeight: rem-calc(120);
$desktopHeaderHeight: rem-calc(100); //Reduced the size as it wasn't matching the design
$desktopPinnedLinksHeight: min(rem-calc(55), 27vw);
$mobilePinnedLinksHeight: rem-calc(80);
$breakpoints: (small: 0, medium:640px, large: 1024px, xlarge: 1200px, xxlarge:1440px);
$breakpoint-classes: (small medium large xlarge xxlarge);
$wideMaxWidth: rem-calc(1600);
$grid-margin-gutters: (small: 20, medium: 40);
$smallGutters: rem-calc(map-get($grid-margin-gutters, 'small') / 2);
$mediumGutters: rem-calc(map-get($grid-margin-gutters, 'medium') / 2);
$inlineListGutters: (1: 1rem, 2: 2rem, 3: 4rem);
$desktopContentMargin: calc(map-get($margins, 2) * 1.5);
$mobileContentMargin: calc(map-get($margins, 1));